<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="main.css">
        {% endblock stylesheets %}

        {% block javascript_top %}
            <script src="https://fb.me/react-15.1.0.js"></script>
            <script src="https://fb.me/react-dom-15.1.0.js"></script>
            <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>

    <body {% block body_attr %}{% endblock %}>
        <div class="container-fluid">
            <h1>Loïc tries React</h1>
            {% block content %}{% endblock %}
        </div>

        {% block javascript_bottom %}{% endblock %}
    </body>
</html>
