{% extends 'layout/_layout.html.twig' %}

{% block content %}
    <h1>Guidelines</h1>

    {% block base %}
    {% endblock base %}

    {% block components %}
    {% endblock components %}

    {% block layout %}
    {% endblock layout %}

    {% block pages %}
    {% endblock pages %}

    {% block themes %}
    {% endblock themes %}

    {% block utils %}
    {% endblock utils %}

    {% block vendor %}
    {% endblock vendor %}
{% endblock content %}
