{% extends 'layout/_layout.html.twig' %}

{% block content %}
    <div class="well clearfix">
        <textarea class="form-control"></textarea><br>
        <button class="btn btn-primary pull-right">Tweet</button>
    </div>
{% endblock content %}

{% block javascript_bottom %}
    <script src="./public/javascript/jquery/tweetbox.js"></script>
{% endblock %}
