{% extends 'layout/_layout.html.twig' %}

{% block content %}
    <div id="container"></div>
{% endblock content %}

{% block javascript_bottom %}
    <script type="text/babel" src="./public/javascript/react/tweetbox.js"></script>
{% endblock %}
